{% extends "posts/base.html" %}


{% block content %}



<div class="container">
    {{product_added}}
    <div class="row">
        <div class="card-columns">

            {% for p in products %}
            <div class="card" style="width: 18rem;">
                <img src="{{p.image.url}}" class="card-img-top" alt="{{p.image}}" height="250px;">
                <div class="card-body">
                    <h5 class="card-title">{{p.title}}</h5>
                    <p class="card-text"> {{p.description|truncatechars:100}} </p>
                    <p class="card-text"> <b>Price</b> : {{p.price}} </p>
                    {% if p.featured %}
                    <p class="card-text"> <i> Special & Featured </i> </p>
                    {% endif %}
                    <form action="{% url 'cart:cart-add' %}" method="post">
                        <input type="hidden" name="product_id" value="{{p.id}}">
                        {% csrf_token %}


                        {% for prod in product_added %}

                        {% if prod.id == p.id %}
                        <button class="btn btn-primary" type='submit'>Remove</button>

                        <!--

                        {% else %}

                      

                        {% endif %}

                       
                        {% endfor %}
                          <button class="btn btn-primary" type='submit'> Add to Cart </button>
 -->




                    </form>


                </div>
            </div>
            {% endfor %}
        </div>
    </div>



</div>






{% endblock %}