@media (max-width: 500px) {
    .container {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .signUp-logo {
        display: flex;
        margin: 40px 0px;
        justify-content: center;
        align-items: center;
    }

    .signUp-logo img {
        height: 55px;
    }

    .signUp-logo h1 {
        font-family: 'Lora', serif;
        font-size: 2em;
        color: #2a323f;
        margin-left: 20px;
    }

    .register-msg {
        margin: 10px auto;
        font-size: 1.2em;
        opacity: 0.8;
    }

    .signUp-body {
        margin-top: 20px;
        width: 100%;
    }

    .normalForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .inputNum {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputNum-a {
        display: flex;
        flex-direction: column;
    }

    .inputNum-a label {
        font-size: 1em;
        font-family: 'roboto', sans-serif;
        margin-bottom: 10px;
        margin-top: 20px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .inputNum-a input[type='number'],
    .inputNum-a input[type='tel'],
    .inputNum-a input[type='password'] {
        font-size: 22.3px;
        font-family: 'roboto', sans-serif;
        margin-bottom: 5px;
        border: none;
        background-image: linear-gradient(to left,
            black 50%,
            rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 30px 3px;
        background-repeat: repeat-x;
        width: 300px;
        letter-spacing: 17.7px;
        font-weight: bold;
    }

    .radio-btns {
        display: flex;
        flex-wrap: wrap;
    }

    .radio-btns p {
        margin: 5px 10px;
    }

    .inputNum-a input[type='text'],
    .inputNum-a input[type='email'] {
        font-size: 1.1em;
        font-family: 'roboto', sans-serif;
        margin-bottom: 5px;
        border: 1px solid #2a323f;
        width: 300px;
        border-radius: 4px;
        padding: 5px 10px;
    }

    .inputNum-a input[type='radio'] {
        font-size: 1.1em;
        font-family: 'roboto', sans-serif;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .note-class {
        padding: 10px;
        background-color: beige;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .note-class p {
        margin: 5px 0px;
        font-size: 0.9em;
        font-weight: 500;
        font-family: 'roboto', sans-serif;
    }

    .inputNum-a input:focus {
        outline: none;
    }

    .inputOtp {
        font-size: 22.3px;
        font-family: 'roboto', sans-serif;
        margin-bottom: 5px;
        border: none;
        background-image: linear-gradient(to left,
            black 50%,
            rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 30px 3px;
        background-repeat: repeat-x;
        width: 180px;
        margin-right: auto;
        letter-spacing: 17.7px;
        font-weight: bold;
    }

    .inputNum-msg {
        display: flex;
        justify-content: center;
    }

    .inputNum-msg p {
        padding: 10px;
        border-radius: 4px;
        background-color: rgb(170, 51, 30);
        color: #ffffff;
        font-size: 0.9em;
        margin: 0px 5px;
        font-family: 'roboto', sans-serif;
    }

    .sendOtp {
        border: none;
        padding: 10px 40px;
        border-radius: 4px;
        background-color: #4c70aa;
        color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 20px 0px;
        cursor: pointer;
    }

    .submit {
        border: none;
        padding: 10px 40px;
        border-radius: 4px;
        background-color: #2a323f;
        color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 20px 0px;
        cursor: pointer;
    }

    .otpSendedPhone {
        display: none;
    }

    .otpSendedPhone h4 {
        background-color: rgb(255, 255, 235);
        width: 300px;
        padding: 5px;
        border-radius: 4px;

        font-size: 0.8em;
        text-align: center;
        color: rgb(49, 49, 49);
        font-weight: lighter;
        margin: 5px 0px;
    }

    .otpSendedPhone-a {
        background-color: rgb(191, 214, 255);
        width: 300px;
        padding: 10px;
        border-radius: 4px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .otpSendedPhone-a button {
        border: 1px solid tomato;
        border-radius: 100%;
        padding: 5px;
        background: white;
        width: 30px;
        height: 30px;
        color: tomato;
        cursor: pointer;
    }
}

@media (min-width: 500px) {
    .container {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .signUp-logo {
        display: flex;
        margin: 40px 40px;
        justify-content: center;
        align-items: center;
    }

    .signUp-logo img {
        height: 80px;
    }

    .signUp-logo h1 {
        font-family: 'Lora', serif;
        font-size: 3em;
        color: #2a323f;
        margin-left: 20px;
    }

    .register-msg {
        margin: 10px auto;
        font-size: 1.6em;
        opacity: 0.8;
    }

    .signUp-body {
        margin-top: 20px;
        width: 100%;
    }

    .normalForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .inputNum {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputNum-a {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .inputNum-a label {
        font-size: 1.1em;
        font-family: 'roboto', sans-serif;
        margin-bottom: 10px;
        margin-top: 20px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .inputNum-a input[type='number'],
    .inputNum-a input[type='tel'],
    .inputNum-a input[type='password'] {
        font-size: 22.3px;
        font-family: 'roboto', sans-serif;
        margin-bottom: 5px;
        border: none;
        background-image: linear-gradient(to left,
            black 50%,
            rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 30px 3px;
        background-repeat: repeat-x;

        letter-spacing: 17.7px;
        font-weight: bold;
    }

    .inputOtp {
        font-size: 22.3px;
        font-family: 'roboto', sans-serif;
        margin-bottom: 5px;
        border: none;
        background-image: linear-gradient(to left,
            black 50%,
            rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 30px 3px;
        background-repeat: repeat-x;
        width: 180px;
        margin-right: auto;
        letter-spacing: 17.7px;
        font-weight: bold;
    }

    .inputNum-a input[type='text'],
    .inputNum-a input[type='email'] {
        font-size: 1.1em;
        font-family: 'roboto', sans-serif;
        margin-bottom: 5px;
        border: 1px solid #2a323f;
        width: 300px;
        border-radius: 4px;
        padding: 5px 10px;
    }

    .inputNum-a input[type='radio'] {
        font-size: 1.1em;
        font-family: 'roboto', sans-serif;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .note-class {
        padding: 10px;
        background-color: beige;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .note-class p {
        margin: 5px 0px;
        font-size: 0.9em;
        font-weight: 500;
        font-family: 'roboto', sans-serif;
    }

    .radio-btns {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    }

    .radio-btns p {
        margin: 5px 10px;
    }

    .inputNum-a input:focus {
        outline: none;
    }

    .inputNum-msg {
        display: flex;
        justify-content: center;
    }

    .inputNum-msg p {
        padding: 10px;
        border-radius: 4px;
        background-color: rgb(170, 51, 30);
        color: #ffffff;
        font-size: 0.9em;
        margin: 0px 5px;
        font-family: 'roboto', sans-serif;
    }

    .sendOtp {
        border: none;
        padding: 10px 40px;
        border-radius: 4px;
        background-color: #4c70aa;
        color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 20px 0px;
        cursor: pointer;
    }

    .submit {
        border: none;
        padding: 10px 40px;
        border-radius: 4px;
        background-color: #2a323f;
        color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 20px 0px;
        cursor: pointer;
    }

    .otpSendedPhone {
        display: none;
    }

    .otpSendedPhone h4 {
        background-color: rgb(255, 255, 235);
        width: 300px;
        padding: 5px;
        border-radius: 4px;

        font-size: 0.8em;
        text-align: center;
        color: rgb(49, 49, 49);
        font-weight: lighter;
        margin: 5px 0px;
    }

    .otpSendedPhone-a {
        background-color: rgb(191, 214, 255);
        width: 300px;
        padding: 10px;
        border-radius: 4px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .otpSendedPhone-a button {
        border: 1px solid tomato;
        border-radius: 100%;
        padding: 5px;
        background: white;
        width: 30px;
        height: 30px;
        color: tomato;
        cursor: pointer;
    }

    .forgotPasswordBtn {
        width: 300px;
        display: flex;
        justify-content: flex-end;
    }

    .forgotPasswordBtn a {
        text-decoration: none;
        font-size: 0.9em;
    }

    .forgotPasswordBtn a:hover {
        color: #4c70aa;
    }
}